diffusers==0.33.1
accelerate==1.6.0
deepspeed==0.16.5
transformers==4.51.2
numpy==1.26.0
torch==2.4.1
torchvision==0.19.1
sentencepiece==0.2.0
SwissArmyTransformer==0.4.12
gradio==5.24.0
imageio==2.36.0
imageio-ffmpeg==0.6.0
openai==1.72.0
moviepy==2.1.2
scikit-video==1.1.11
pydantic==2.11.3
onnxruntime-gpu==1.21.0
matplotlib==3.10.1
wandb==0.19.9
peft==0.15.1