accelerate
decord
deepspeed
diffusers
easydict
gradio
imageio
imageio-ffmpeg
lpips
matplotlib
moviepy
numpy
onnxruntime-gpu
open3d
opencv-python
openai
peft
plyfile
pydantic
scikit-learn
scikit-video
scipy
sentencepiece
SwissArmyTransformer
tensorboard
torch
torch-cluster
torchvision
tqdm
transformers
wandb
